.container {
  margin-top: 15rem;
}

.heading2 {
  text-align: right;
  width: 100%;
  border-bottom: 1px solid var(--olive);
  padding-bottom: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.imgContainer4 {
  position: relative;
  width: 100%;
  height: 280px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--olive);
  cursor: pointer;
}

.modalContainer {
  user-select: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fullScreenImage {
  width: 60%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modalImg {
  object-fit: cover;
  border-radius: 10px;
}

.prev {
  margin-right: 3rem;
  color: var(--white);
  cursor: pointer;
  user-select: none;
  position: absolute;
  left: -50px;
  bottom: 50%;
  z-index: 999;
}

.next {
  margin-left: 3rem;
  color: var(--white);
  cursor: pointer;
  user-select: none;
  position: absolute;
  right: -50px;
  bottom: 50%;
  z-index: 999;
}

.close {
  color: var(--white);
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 40px;
}

@media screen and (max-width: 968px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading2 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 568px) {
  .prev {
    left: -40px;
  }
  .next {
    right: -40px;
  }

  .close {
    right: 20px;
    top: 20px;
  }
}