.section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* height: 400px; */
  grid-gap: 0.5rem;
}

.square {
  width: 100%;
  height: 100%;
  background-size: cover;
  border: 1px solid var(--black);
  background-color: var(--tan);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 130px;
}

.square:hover {
  background-color: var(--orange);
}

.square:nth-child(1),
.square:nth-child(5),
.square:nth-child(9)
{
  background-color: var(--orange);
}

.title {
  text-align: center;
  font-size: 1.4rem;
}

.img {
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
