.container {
  position: relative;
  z-index: 1;
  /* z-index: 998; */
}

.btn {
  z-index: 998;
  font-family: var(--NeubauGroteskNor);
  text-transform: uppercase;
  font-size: 1.4rem;
  white-space: nowrap;
  user-select: none;
  display: inline-block;
  padding: 1.5rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: all 0.2s ease-in;
  background-color: var(--orange);
  border: 1px solid var(--gray);
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
}

.dot1,
.dot2,
.dot3,
.dot4 {
  width: 5px;
  height: 5px;
  background-color: var(--black);
  position: absolute;
  transition: all 0.2s ease-in;
}

.dot1 {
  top: 5;
  right: 5;
}

.dot2 {
  bottom: 5;
  right: 5;
}

.dot3 {
  top: 5;
  left: 5;
}

.dot4 {
  bottom: 5;
  left: 5;
}

.blue {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
}

.blue:hover {
  background-color: transparent;
  color: var(--blue);
}

.pink {
  background-color: var(--pink);
  color: var(--black);
  border: 1px solid var(--pink);
}


.blue .dot1,
.blue .dot2,
.blue .dot3,
.blue .dot4 {
  background-color: var(--white);
}

.blue:hover .dot1,
.blue:hover .dot2,
.blue:hover .dot3,
.blue:hover .dot4 {
  background-color: var(--blue);
}
