.container {
  background-color: var(--tan);
  position: relative;
  z-index: 2;
  border: 1px solid var(--gray);
  margin-bottom: 20rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: -2rem;
}

.icon {
  width: 5rem;
  height: 5rem;
  color: var(--black);
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  margin-bottom: 5rem;
}

.introSection {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 3rem;
}

.sectionTitle {
  font-size: 1.6rem;
  display: block;
}

.isLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  gap: 3rem;
}

.isLeftTop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.isl1,
.isl2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.copy {
  font-size: 1.4rem;
  color: var(--grayii);
}

.isLeftBottom {
  width: 100%;
}

.btnContainer {
  display: grid;
  width: 100%;
}

.isRight {
  border-left: 1px solid var(--gray);
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  gap: 3rem;
}

.heading {
  font-size: 2rem;
  text-transform: none;
  font-family: var(--SuisseIntlMedium);
  width: 70%;
}

.tagContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.tag {
  font-size: 1.4rem;
  font-family: var(--NeueHaasGroteskMedium);
  border: 1px solid var(--gray);
  border-radius: 50px;
  padding: 1rem 1.5rem;
  user-select: none;
}

@media screen and (max-width: 1268px) {
  .introSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .introSection {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }

  .isRight {
    order: -1;
    padding-left: 0;
    border-left: none;
  }

  .heading {
    width: 100%;
  }

  .tagContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }
}
