.container {
  position: relative;
  z-index: 1;
}

.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.3rem 4rem;
  font-family: var(--SuisseIntlMedium);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  border-radius: 50px;
  width: 100%;
  transition: all 0.2s ease-in;
}

.label {
  visibility: hidden;
  pointer-events: none;
  white-space: nowrap;
}

.marqueeSpan {
  position: absolute;
  /* occupy the full button box */
  top: 0;
  left: 0;
  height: 100%;
  display: inline-flex;          /* let us vertically center the text */
  align-items: center;           /* ← centers the text vertically */
  white-space: nowrap;
  pointer-events: none;          /* don’t block clicks */
}

.primary {
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--gray);
}

.primary:hover {
  background-color: var(--black);
  color: var(--white);
}

.primary:hover .dot1,
.primary:hover .dot2,
.primary:hover .dot3,
.primary:hover .dot4 {
  background-color: var(--white);
}

.secondary {
  background-color: var(--orange);
  /* border: 1px solid var(--gray); */
  color: var(--brown);
}

.secondary:hover {
  background-color: var(--orange3);
}

.black {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--gray);
}

.black:hover {
  background-color: transparent;
  color: var(--black);
}

.black .dot1,
.black .dot2,
.black .dot3,
.black .dot4 {
  background-color: var(--white);
}

.black:hover .dot1,
.black:hover .dot2,
.black:hover .dot3,
.black:hover .dot4 {
  background-color: var(--black);
}

.blue {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
}

.blue:hover {
  background-color: transparent;
  color: var(--vlue);
}

.blue .dot1,
.blue .dot2,
.blue .dot3,
.blue .dot4 {
  background-color: var(--white);
}

.blue:hover .dot1,
.blue:hover .dot2,
.blue:hover .dot3,
.blue:hover .dot4 {
  background-color: var(--white);
}
