.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.outerCircle {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: 2px dashed var(--blackii);
  border-radius: 50%;
  margin: 0 auto;
}

.curveText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding-top: 2rem;
}

.outerCircle:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 2px dashed var(--blackii);
  z-index: -1;
  transform: translateY(-50%);
}

.centerCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  aspect-ratio: 1/1; /* Perfect circle */
  border: 2px dashed var(--blackii);
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.centerText {
  font-family: var(--SuisseIntlCondensed);
  text-transform: uppercase;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15%; /* Prevents text from touching edges */
}

.innerCircle {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  border: 2px dashed var(--blackii);
  border-radius: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.quad1,
.quad2,
.quad3,
.quad4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  font-size: clamp(1rem, 2vw, 1.4rem);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.quad1:hover,
.quad2:hover,
.quad3:hover,
.quad4:hover {
  background-color: var(--yellow);
}

.quad1 {
  border-right: 2px dashed var(--blackii);
  border-bottom: 2px dashed var(--blackii);
  border-top-left-radius: 100%;
}

.quad2 {
  border-bottom: 2px dashed var(--blackii);
  border-top-right-radius: 100%;
  background-color: var(--yellow);
}

.quad3 {
  border-right: 2px dashed var(--blackii);
  border-bottom-left-radius: 100%;
}

.quad4 {
  border-bottom-right-radius: 100%;
}

/* Adjust text positioning if needed */
.text textPath {
  dominant-baseline: middle;
  text-anchor: middle;
}
