.container {
  background-color: var(--white);
  padding-top: 15rem;
}

.top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
}

.heading {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid var(--gray);
}

.left {
  border-right: 1px solid var(--gray);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.left:hover {
  background-color: var(--pink);
}

.right {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.right:hover {
  background-color: var(--orange);
}

.leftContent,
.rightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  height: 100%;
}

.headingii {
  font-size: 7.5vw;
  line-height: 0.9;
}

.copy {
  width: 50%;
  font-size: 1.6rem;
}

.iframeWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.modalHeading {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.arrow {
  color: var(--black);
  transform: rotate(45deg);
  width: 40%;
  height: 40%;
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
  }

  .copy {
    width: 70%;
    margin-left: 0%;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    font-size: 10vw;
  }

  .copy {
    width: 100%;
  }

  .arrow {
    color: var(--black);
    transform: rotate(45deg);
    width: 100%;
    height: 100%;
  }
}
