.container {
  padding-top: 5rem;
  background-color: var(--tan);
}

.top {
  margin: 5rem 0rem;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
}

.left {
  /* padding: 3rem; */
  border: 1px solid var(--black);
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.heading {
  will-change: transform, opacity, filter;
  backface-visibility: hidden;
  visibility: hidden;
  line-height: 1;
  width: 60%;
}

.heading :global(.word),
.heading :global(.line) {
  line-height: 0.01;
}

.headingii {
  padding: 3rem;
  font-size: 2.5rem;
  letter-spacing: -0.02em;
  line-height: 1.3;
}

.copyContainer {
  border-top: 1px solid var(--black);
  padding: 3rem;
}

.copy {
  color: var(--gray);
  width: 60%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 600px;
}

.img {
  object-fit: cover;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    border-right: 1px solid var(--black);
    border-top: none;
    
  }

  .right {
    order: -1;
  }

  .heading {
    width: 100%;
  }

  .headingii, .copyContainer {
    padding: 2rem;
  }

  .copy {
    width: 80%;
  }

  .imgContainer {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 100%;
  }
}
