.container {
  padding-top: 5rem;
}

.top {
  margin: 5rem 0rem;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-top: 5rem;
}

.heading {
  will-change: transform, opacity, filter;
  backface-visibility: hidden;
  visibility: hidden;
  line-height: 1;
  width: 80%;
}

.heading :global(.word),
.heading :global(.line) {
  line-height: 0.01;
}

.headingii {
  font-size: 2.5rem;
  letter-spacing: -0.02em;
  line-height: 1.3;
}

.copy {
  color: var(--gray);
  width: 60%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 600px;
}

.img {
  object-fit: cover;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading {
    width: 100%;
  }

  .copy {
    width: 80%;
  }

  .imgContainer {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 100%;
  }
}
