.container {
  /* padding-top: 5rem; */
  padding-bottom: 5rem;
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 3rem;
  margin-top: 10rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  height: 100%;
}

.subHeadingCopyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.copy {
  color: var(--grayii);
}

.headingii {
  font-size: 4vw;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.revealText {
  color: var(--tan);
  filter: drop-shadow(0 0 0.1rem var(--black));
  line-height: 1;
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .headingii {
    font-size: 8vw;
  }
}

@media screen and (max-width: 568px) {
  .left {
    grid-template-columns: repeat(1, 1fr);
  }

  .subHeading,
  .copy {
    text-align: center;
    width: 100%;
  }

  .headingii {
    width: 100%;
  }
}
