.container {
  position: relative;
  width: 100%;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 0;
  background-color: var(--tan);
}

.content::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("/images/noise.gif") repeat;
  opacity: 0.04;
}


/* .container::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: url("/images/noise.gif") repeat;
  opacity: 0.03;
} */

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0;
  z-index: 3;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  z-index: 3;
  padding-top: 7rem;
}

.left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

.headingClip {
  line-height: 1;
  width: 100%;
}

.heading {
  will-change: transform, opacity, filter;
  overflow: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  line-height: 1;
  white-space: nowrap;
  font-family: var(--SuisseIntlCondensed);
  padding-right: 1rem;
}

.heading :global(.word),
.heading :global(.word),
.heading :global(.line) {
  line-height: 0.01;
  font-family: var(--SuisseIntlCondensed);
}

.copy {
  overflow: hidden;
  visibility: hidden;
  z-index: 2;
  position: relative;
  font-size: 1.8rem;
  font-family: var(--SuisseIntlMedium);
  line-height: 1.5;
  width: 80%;
  color: var(--text);
}

.copy :global(.word) {
  font-family: var(--SuisseIntlMedium);
  line-height: 1.5;
}

.servicesTitle {
  color: var(--black);
  margin-bottom: 2rem;
  display: block;
  overflow: hidden;
  visibility: hidden;
  overflow: hidden;
}

.servicesContainer {
  list-style: none;
  color: var(--black);
  width: 100%;
}

.service {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  padding: 1rem 0rem;
  overflow: hidden;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  color: var(--black);
  font-size: 1.4rem;
  /* opacity: 0.7; */
}

.service:nth-child(1) {
  border-top: 1px solid var(--gray);
}

.blackDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--black);
  /* opacity: 0.7; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 0.5rem;
}

.btnContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.img {
  object-fit: cover;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

@media screen and (max-width: 1068px) {
  .container {
    height: 100%;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .top {
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .content {
    margin-top: 5rem;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btnContainer {
    grid-template-columns: repeat(1, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 668px) {
  .btnContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .container {
    min-height: 100vh;
    padding-top: 5rem;
  }

  .content {
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    width: 100%;
  }

  .btnContainer {
    width: 100%;
  }
}
