.container {
  position: relative;
  width: 100%;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 0;
  background-color: var(--tan);
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0;
  z-index: 3;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  z-index: 3;
  padding-top: 7rem;
}

.left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

.headingClip {
  line-height: 1;
  width: 100%;
}

.heading {
  text-transform: uppercase;
  will-change: transform, opacity, filter;
  overflow: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  line-height: 1;
  white-space: nowrap;
}

.heading :global(.word),
.heading :global(.word),
.heading :global(.line) {
  line-height: 0.01;
}

.servicesTitle {
  color: var(--black);
  margin-bottom: 2rem;
  display: block;
  overflow: hidden;
  visibility: hidden;
  overflow: hidden;
}

.servicesContainer {
  list-style: none;
  color: var(--black);
  width: 100%;
}

.service {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  padding: 1rem 0rem;
  overflow: hidden;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  color: var(--black);
  font-size: 1.4rem;
  /* opacity: 0.7; */
}

.service:nth-child(1) {
  border-top: 1px solid var(--black);
}

.blackDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--black);
  /* opacity: 0.7; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 0.5rem;
}

.btnContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.img {
  object-fit: cover;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

.copy {
  overflow: hidden;
  visibility: hidden;
  text-transform: uppercase;
  width: 70%;
  text-align: right;
  color: var(--white);
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 1068px) {
  .container {
    height: 100%;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }

  .top {
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .content {
    margin-top: 5rem;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btnContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }

  .right {
    width: 100%;
    margin-top: 5rem;
  }

  .imgContainer {
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 80%;
  }

  .btnContainer {
    width: 100%;
  }
}

@media screen and (max-width: 668px) {
  .btnContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .container {
    min-height: 100vh;
    padding-top: 5rem;
  }

  .content {
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
  }
}
