.container {
  padding: 10rem 0rem;
  background-color: var(--black);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.copy {
  font-family: var(--SuisseIntlMedium);
  font-size: 2.8rem;
  color: var(--white);
  margin-right: auto;
  width: 70%;
  will-change: transform, opacity;
  overflow: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  margin-bottom: 10rem;
}

.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  width: 100%;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .copy {
    width: 100%;
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 100%;
  }
}
