.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  border-top: 8px solid var(--black);
  padding-top: 3rem;
}

.left {
  padding-right: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5rem;
  height: 100%;
  width: 100%;
}

.heading {
  font-size: 2rem;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-top: 2rem;
}

.imgParent {
  padding: 2rem;
  background-color: var(--tan);
  border: 1px solid var(--black);
  width: 100%;
}

.title {
  margin-top: 5rem;
  background-color: var(--tan);
  padding: 1rem 2rem;
  border: 1px solid var(--black);
  border-bottom: 3px solid var(--tan);
  border-bottom: none;
  position: relative;
  top: 1px;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.copyBox,
.copyBoxMobile {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.copy {
  text-transform: none;
  color: var(--gray);
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    text-align: center;
    width: 100%;
  }

  .right {
    grid-template-columns: repeat(1, 1fr);
  }

  .copyBox {
    margin-top: 5rem;
  }

  .copyBoxMobile {
    display: block;
  }
}
