.container {
  position: relative;
  width: 100%;
  overflow: hidden;
      padding: 15rem 0;
  background-color: var(--white);
}

.copy {
  margin-top: 3rem;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-top: 5rem;
}

.projectDataContainer {
  width: 100%;
  /* border: 1px solid var(--gray); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card {
  height: 80px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
  width: 100%;
}

.projectWrapper {
  position: relative;
  height: 240px;
  will-change: transform;
  transform: translateY(-160px);
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-top: 1px solid var(--gray);
}

.projectInfo,
.projectDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  cursor: pointer;
  padding: 1rem;
}

.projectInfo {
  color: var(--black);
}

.projectDetails {
  background-color: var(--black);
  padding: 1rem;
}

.title {
  text-transform: uppercase;
}

.type {
  text-transform: uppercase;
}

.description {
  color: var(--tan);
}

.projectPreview {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30%;
  height: 30%;
  z-index: 2;
}

.icon,
.icon2 {
  width: 3.5rem;
  height: 3.5rem;
  transform: rotate(45deg);
}

.icon {
  color: var(--black);
}

.icon2 {
  color: var(--tan);
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  width: 100%;
}

.btnContainer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .projectPreview {
    width: 50%;
    height: 25%;
  }
}

@media screen and (max-width: 768px) {
  .projectPreview {
    width: 70%;
    height: 20%;
  }
}

@media screen and (max-width: 568px) {
  .title,
  .description {
    font-size: 2.5rem;
  }

  .projectPreview {
    width: 70%;
    height: 20%;
  }

  .btnContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
  }
}
