.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.projectDataContainer {
  width: 100%;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.card {
  height: 80px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}

.projectWrapper {
  position: relative;
  height: 240px;
  will-change: transform;
  transform: translateY(-160px);
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-top: 1px solid var(--gray);
}

.projectInfo,
.projectDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  cursor: pointer;
  /* border-bottom: 1px solid var(--gray); */
  padding: 1rem;
}

.projectInfo {
  color: var(--black);
}

.projectDetails {
  background-color: var(--black);
  padding: 1rem;
}

.title {
  text-transform: uppercase;
}

.type {
  text-transform: uppercase;
}

.description {
  color: var(--tan);
}

.label {
  text-transform: uppercase;
  font-size: 3.4rem;
  color: var(--tan);
}

.projectPreview {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30%;
  height: 30%;
  z-index: 2;
}

.icon,
.icon2 {
  width: 3.5rem;
  height: 3.5rem;
  transform: rotate(45deg);
}

.icon {
  color: var(--black);
}

.icon2 {
  color: var(--tan);
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .projectPreview {
    width: 50%;
    height: 25%;
  }
}

@media screen and (max-width: 768px) {
  .projectPreview {
    width: 70%;
    height: 20%;
  }
}
