.logo {
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 3rem;
  z-index: 999;
  user-select: none;
  font-family: var(--SuisseIntlCondensed);
  color: var(--black);
}

.large {
  font-size: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.tan {
  color: var(--tan);
}

.blackii {
  color: var(--blackii);
}
