.headingContainer {
  width: 100%;
}

.hcTop {
  background-image: repeating-linear-gradient(
    45deg,
    var(--black),
    var(--pink) 1px,
    var(--pink) 0 50%
  );
  background-size: 10px 10px;
  border: 1px solid var(--black);
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.heading {
  width: 45%;
  /* padding: 1rem; */
  /* background-color: var(--pink); */
  /* border: 1px solid var(--black); */
}

@media screen and (max-width: 1268px) {
  .heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}

@media screen and (max-width: 968px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    width: 100%;
  }
}
