.container {
  background-color: var(--tan);
}

.sectionIntroContainer {
  border: 1px solid var(--gray);
  border-bottom: none;
  width: fit-content;
  padding: 1rem 2rem;
  position: relative;
  top: 1px;
  background-color: var(--tan);
}

.box {
  border-top: 1px solid var(--black);
  border-left: 1px solid var(--black);
  margin-bottom: 10rem;
}

.middle {
  border: 1px solid var(--gray);
  background-image: repeating-linear-gradient(
    45deg,
    var(--black),
    var(--yellow) 1px,
    var(--yellow) 0 50%
  );
  background-size: 10px 10px;
  padding: 1rem;
}

.heading {
  color: var(--black);
  background-color: var(--tan);
  padding: 1rem;
  font-size: 2rem;
  width: fit-content;
  border: 1px solid var(--gray);
}

.sectionTitle {
  color: var(--black);
  text-align: center;
  font-size: 1.8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 1px solid var(--black);
  background-color: var(--tan);
  height: 100%;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20rem;
}

.card {
  background-color: var(--tan);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  padding: 2rem;
  position: relative;
  border-right: 1px dashed var(--black);
  border-bottom: 1px dashed var(--black);
}

.card:nth-child(4) {
  border-right: none;
}

.card:nth-child(4) {
  /* border-top: none; */
  border-right: 1px dashed var(--black);
}

.card:nth-child(5) {
  border-top: none;
  border-bottom: 1px solid var(--black);
}

.indexContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--black);
  /* background-color: var(--yellow ); */
}

.index {
  font-size: 2rem;
  color: var(--black);
  font-family: var(--BoogyBrutPoster);
}

.feature {
  color: var(--black);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.desc {
  color: var(--black);
  opacity: 0.7;
  font-size: 1.4rem;
}

@media screen and (max-width: 1068px) {
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .middleLeft {
    width: 100%;
  }

  .sectionTitle {
    border-right: none;
    border-bottom: 1px dashed var(--lightGray);
  }

  .sectionTitle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
  }

  .card {
    padding: 3rem;
    border-bottom: 1px dashed var(--black);
  }

  .card:nth-child(2) {
    border-right: none;
  }

  .card:nth-child(3),
  .card:nth-child(4) {
    border-bottom: none;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    text-indent: 0em;
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    align-items: center;
    justify-content: center;
    border-right: none;
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .card:nth-child(3) {
    border-bottom: 1px dashed var(--black);
  }

  .desc {
    text-align: center;
  }

  .feature {
    text-align: center;
    width: 100%;
  }
}
