.container {
  background-color: var(--tan);
  position: relative;
  padding-top: 10rem;
  z-index: -1;
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.6;
  z-index: 2;
}

.img {
  object-fit: cover;
  z-index: 1;
}

.layoutWrapper {
  position: relative;
  z-index: 3;
  height: 100%;
}

.footerContainer {
  position: relative;
  z-index: 4;
  color: white;
}
