.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.heading {
  width: 50%;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 5rem;
}

.card {
  background-color: var(--white);
  border: 1px solid var(--gray);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  height: 100%;
}

.cardTop {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.title {
  font-family: var(--NeueHaasGroteskMedium);
  border: 1px solid var(--gray);
  padding: 1rem;
  background-color: var(--tan);
  text-align: center;
  width: 100%;
}

.description {
  font-size: 1.4rem;
  color: var(--grayii);
}

.card:nth-child(1) .title {
  background-color: var(--yellow);
}

.card:nth-child(2) .title {
  background-color: var(--pink);
  color: var(--white);
}

.card:nth-child(3) .title {
  background-color: var(--black);
  color: var(--tan);
}

.price {
  font-size: 3rem;
}

.btnContainer {
  display: grid;
  width: 100%;
}

.includesSection {
  list-style: none;
}

.includesSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.featureBox {
  border: 1px solid var(--gray);
  padding: 1rem;
  background-color: var(--tan);
  height: 100%;
}

.card:nth-child(1) .featureBox {
  background-color: var(--yellow);
}

.card:nth-child(2) .featureBox {
  background-color: var(--pink);
}

.card:nth-child(3) .featureBox {
  background-color: var(--black);
}

.feature {
  font-family: var(--NeueHaasGroteskMedium);

  width: 100%;
  text-transform: none;
  font-size: 1.4rem;
}

.card:nth-child(3) .featureBox .feature {
  color: var(--tan);
}

.feature:last-child {
  border-bottom: none;
}

.btnContainerii {
  margin-top: 5rem;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1068px) {
  .heading {
    text-align: center;
    width: 100%;
  }

  .dataMapContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:nth-child(2) {
    border-right: 1px solid var(--gray);
  }

  .card:nth-child(3) {
    border-left: 1px solid var(--gray);
  }
}

@media screen and (max-width: 668px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainerii {
    display: grid;
    width: 100%;
  }
}
