.container {
  background-color: var(--black);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.heading {
  font-size: 7rem;
  text-align: center;
}

.heading2 {
  display: none;
  color: var(--yellow);
}

.revealText {
  color: transparent;
  filter: drop-shadow(0 0 0.1rem var(--black));
  line-height: 1;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 10rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  /* padding: 3rem; */
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}

.icon {
  width: 10rem;
  height: 10rem;
  color: var(--white);
  opacity: 0;
  transform: translateY(15px);
}

.title {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  color: var(--pink);
  font-family: var(--SuisseIntlCondensed);
  hyphens: auto;
  text-transform: uppercase;
  width: 80%;
}

@media (max-width: 1068px) {
  /* .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0rem;
  } */

  .heading {
    font-size: 5rem;
    /* text-align: left; */
  }

  .icon {
    width: 5rem;
    height: 5rem;
  }
  .bottom {
    margin-top: 0rem;
  }
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }

  .heading {
    text-align: center;
  }
}

@media (max-width: 568px) {
  .container {
    min-height: auto;
    padding-top: 15rem;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .heading {
    display: none;
  }

  .heading2 {
    display: block;
    text-align: center;
  }

  .card {
    gap: 2rem;
  }

  .icon {
    opacity: 1;
    transform: translateY(0px);
  }
}
