.container {
  background-color: var(--yellow);
}

.headingOne {
  font-size: 15vw;
  text-align: center;
  color: var(--yellow);
  line-height: 0.5;
}

.content {
  border: 1px solid var(--black);
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.left {
  border-right: 1px solid var(--black);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.heading {
  font-size: 2.5rem;
  color: var(--black);
}

.copy {
  font-size: 1.1rem;
  text-transform: uppercase;
  width: 80%;
  color: var(--black);
}

.email {
  border: 1px solid var(--black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  color: var(--black);
}

.icon {
  width: 2rem;
  height: 2rem;
  color: var(--black);
  transform: rotate(90deg);
}

.privacy {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 5rem;
}

.title {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--text);
}

.optionList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.option {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--black);
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.data2Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .left,
  .right {
    padding: 3rem;
  }
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    border-right: none;
    border-bottom: 1px solid var(--black);
  }
}

@media screen and (max-width: 568px) {
  .right {
    grid-template-columns: repeat(2, 1fr);
  }

  .optionSection {
    margin-bottom: 5rem;
  }
}
