.container {
  padding-top: 15rem;
  padding-bottom: 10rem;
  background-color: var(--tan);
}

.content {
  padding-bottom: 5rem;
}

.heading {
  font-size: 2rem;
  line-height: 1.3em;
  font-weight: 500;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: start;
  gap: 7rem;
  padding: 2rem;
  border: 1px solid var(--lightGray);
  background-color: var(--tanii);
  width: 100%;
}

.icon {
  width: 8rem;
  height: 8rem;
  color: var(--taniii);
}

.boxBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
}

.feature {
  color: var(--bgColor);
  font-size: 1.6rem;
}

.desc {
  font-size: 1.4rem;
  color: var(--text);
}

.tag {
  font-family: var(--NeueHaasGroteskMedium);
  font-size: 1.2rem;
  line-height: 1;
  border: 1px solid var(--gray);
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    gap: 4rem;
  }
}
