.container {
  background-color: var(--olive);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.content {
  padding-bottom: 5rem;
}

.top {
  margin-top: 10rem;
  border: 1px solid var(--black);
  border-bottom: none;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: var(--white);
  position: relative;
  top: 1px;
}

.topHeading {
  line-height: 100%;
  margin-bottom: 3rem;
}

.topLeft {
  flex: 2;
}

.topRight {
  flex: 1;
}

.heading {
  font-size: 2rem;
  line-height: 1.3em;
  font-weight: 500;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin-top: 2rem; */
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: start;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid var(--black);
  border-left: none;
}

.box:nth-child(1) {
  border-left: 1px solid var(--black);
}

.box:nth-child(5) {
  border-left: 1px solid var(--black);
  border-top: none;
}

.index {
  opacity: 0.5;
  margin-bottom: 1rem;
}

.feature {
  color: var(--bgColor);
  font-size: 1.6rem;
}

.desc {
  font-size: 1.4rem;
  opacity: 0.7;
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(3, 1fr);
  }

  .box:nth-child(4) {
    border-top: none;
    border-left: 1px solid var(--black);
  }

  .box:nth-child(5) {
    border-left: none;
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  .box:nth-child(3) {
    border-left: 1px solid var(--black);
    border-top: none;
  }

  .box:nth-child(4) {
    border-left: none;
  }

  .box:nth-child(5) {
    border-left: 1px solid var(--black);
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .box:nth-child(even) {
    border-left: 1px solid var(--black);
    border-top: none;
  }
}
