.container {
  background-color: var(--gray);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10rem;
  padding: 3rem;
  /* background-color: var(--lightGray); */
  border: 1px solid var(--black);
  /* border-top: 10px solid var(--black); */
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.card:hover {
  background-color: var(--tan);
}

.card:nth-child(4) {
  background-color: transparent;
  border: none;
  display: hidden;
}

/* .card:last-child {
  background-color: var(--orange);
}

.card:last-child .title,
.card:last-child .desc {
  color: var(--tan);
} */

.title,
.dates,
.desc {
  color: var(--black);
}

.company {
  font-size: 2rem;
}

.btnContainer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1268px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 968px) {
  .heading,
  .copy {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 668px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    align-items: center;
    justify-content: center;
  }

  .title,
  .desc {
    text-align: center;
  }

  .card:nth-child(4) {
    display: none;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
