.container {
  background-color: var(--tan);
}

.top {
  width: fit-content;
  border: 1px solid var(--black);
  border-bottom: none;
  padding: 1rem 2rem;
  background-color: var(--tan);
  position: relative;
  top: 1px;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  padding: 3rem;
  border: 1px solid var(--black);
  transition: all 0.3s ease-in;
  cursor: pointer;
  border-left: none;
}

.card:hover {
  background-color: var(--orange);
}

.card:nth-child(1) {
  border-left: 1px solid var(--black);
}

.card:nth-child(4) {
  background-color: transparent;
  border: none;
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  /* display: hidden; */
}

.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(7) {
  border-top: none;
}

.card:nth-child(7) {
  border-left: 1px solid var(--black);
}

.title,
.dates,
.desc {
  color: var(--black);
}

.title {
  font-size: 2rem;
}

.desc {
  font-size: 1.4rem;
}

.btnContainer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1268px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:nth-child(3),
  .card:nth-child(5) {
    border-top: none;
    border-left: 1px solid var(--black);
  }

  .card:nth-child(4) {
    border-right: none;
    /* border-left: 1px solid var(--black); */
  }
}

@media screen and (max-width: 968px) {
  .heading,
  .copy {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 668px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    align-items: center;
    justify-content: center;
  }

  .title,
  .desc {
    text-align: center;
  }

  .card:nth-child(4) {
    display: none;
  }

  .card:nth-child(2),
  .card:nth-child(6) {
    border-top: none;
    border-left: 1px solid var(--black);
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
