.header {
  padding: 0.7rem;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 9998;
  max-width: 1500px;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
}

.header.hide {
  transform: translate(-50%, -150%);
  opacity: 0;
}

.header.show {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.navbar {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  width: fit-content;
  background-color: var(--black);
  padding: 1.3rem 4rem;
  border-radius: 50px;
}

.navItem {
  font-family: var(--SuisseIntlMedium);
  text-transform: capitalize;
  font-size: 1.4rem;
  line-height: 1;
  color: var(--white);
  user-select: none;
  z-index: 998;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 868px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .navItems {
    position: absolute;
    bottom: -93vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 568px) {
  .header {
    top: 0px;
    padding-top: 8rem;
    padding-bottom: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    background-color: var(--tan);
    /* border-bottom: 1px solid var(--tanii); */
  
    background-image:
    linear-gradient(var(--tanii) 1px, transparent 1px),
    linear-gradient(to right, var(--tanii) 1px, transparent 1px);
  background-size: 100px 100px;
}

.header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("/images/noise.gif") repeat;
  opacity: 0.04;
}
  .navItems {
    bottom: -90vh;
    padding: 1.3rem;

  }
}

@media screen and (max-width: 320px) {
  .navItems {
    bottom: -87vh;
  }
}
